@model Evpro.Gui.Models.SatsifactionSurveyModel

@{
    ViewBag.Title = "getNbrUsersByCompanyNameEsprit";
    Layout = "~/Views/Shared/Evpro-Template.cshtml";
}

<h2>getNbrUsersByCompanyNameEsprit</h2>
@Model.NbrParticipantSatisfied

